<div class="banner">
	<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
		<a href="#" class="pure-menu-heading">虎神八仙特搜</a>
		<ul>
			<li class="pure-menu-selected"><a href="#"> 認領行動 </a></li>
			<!--			<li><a target="_blank" href="https://www.facebook.com/media/set/?set=a.671447782903272.1073741828.670507659663951&type=3"> 虎神行動指引</a></li>-->
			<li><a target="_blank" href="https://docs.google.com/forms/d/120bvMlj5B4y_KzUY177U2Z1n8chD5yuxiCJ0Yiz8leg/viewform"> 我也要認領 </a></li>
		</ul>
		<div class="fb-like" data-href="https://www.facebook.com/digital.nurses" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	</div>
</div>

